.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #fffefe;
}

.register-form {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-title_register {
    color: #343a40;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #4c74bd;
    border: none;
}